.ICountBar_app{
  /*翻页动画*/
  @keyframes flipTop {
    0% {
      -webkit-transform: perspective(400px) rotateX(0deg);
    }
  
    100% {
      -webkit-transform: perspective(400px) rotateX(-90deg);
    }
  }
  
  @keyframes flipBottom {
    0% {
      -webkit-transform: perspective(400px) rotateX(90deg);
    }
  
    100% {
      -webkit-transform: perspective(400px) rotateX(0deg);
    }
  }
  
  .dataStatistics {
    color: #fedec2;
    font-weight: bold;
    line-height: 68px;
    height: 68px;
    width: auto;
    margin: 0 auto;
    font-size: 44px;
    box-sizing: border-box;
  }
  
  .dataStatistics .seperator {
    vertical-align: top;
    margin: 0 -20px;
    display: inline;
  }
  
  .dataStatistics .digit_set {
    float: left;
    width: 60px;
    height: 100%;
    position: relative;
    margin: 0 6px;
  }
  .unit{
    float: left;
    width: 60px;
    height: 100%;
    position: relative;
    margin: 0 6px;
    font-size: 29px;
    text-align: center;
    background-image: url(../assets/item-bg.png);
  }
  
  .dataStatistics .digit_set .digit {
    position: absolute;
    height: 100%;
  }
  
  .dataStatistics .digit>div {
    position: absolute;
    left: 0;
    overflow: hidden;
    height: 50%;
    width: 60px;
    padding: 0 10px;
    text-align: center;
  }
  
  .dataStatistics .digit>div.digit_top,
  .dataStatistics .digit>div.shadow_top {
    width: 60px;
    box-sizing: border-box;
    top: 0;
    z-index: 0;
    background-image: url(../assets/number-shang.png);
    background-size: 100% 100%;
  }
  
  .dataStatistics .digit>div.digit_top:before,
  .dataStatistics .digit>div.shadow_top:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .dataStatistics .digit>div.shadow_top {
    width: 60px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .dataStatistics .digit>div.digit_bottom,
  .dataStatistics .digit>div.shadow_bottom {
    width: 60px;
    // height: 50%;
    bottom: 0;
    z-index: 0;
    background-image: url(../assets/number-xia.png);
    background-size: 100% 100%;
  }
  
  .dataStatistics .digit>div.digit_bottom .digit_wrap,
  .dataStatistics .digit>div.shadow_bottom .digit_wrap {
    display: block;
    margin-top: -84%;
  }
  
  .dataStatistics .digit>div.digit_bottom:before,
  .dataStatistics .digit>div.shadow_bottom:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .digit_wrap {
    line-height: 68px;
    display: block;
    overflow: hidden;
  }
  
  .dataStatistics .digit>div.shadow_bottom {
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .dataStatistics .digit.previous .digit_top,
  .dataStatistics .digit.previous .shadow_top {
    opacity: 1;
    z-index: 2;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: flipTop 0.3s ease-in both;
    -moz-transform-origin: 50% 100%;
    -moz-animation: flipTop 0.3s ease-in both;
    -ms-transform-origin: 50% 100%;
    -ms-animation: flipTop 0.3s ease-in both;
    transform-origin: 50% 100%;
    animation: flipTop 0.3s ease-in both;
  }
  
  .dataStatistics .digit.previous .digit_bottom,
  .dataStatistics .digit.previous .shadow_bottom {
    z-index: 1;
    opacity: 1;
  }
  
  .dataStatistics .digit.active .digit_top {
    z-index: 1;
  }
  
  .dataStatistics .digit.active .digit_bottom {
    z-index: 2;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation: flipBottom 0.3s 0.3s ease-out both;
    -moz-transform-origin: 50% 0%;
    -moz-animation: flipBottom 0.3s 0.3s ease-out both;
    -ms-transform-origin: 50% 0%;
    -ms-animation: flipBottom 0.3s 0.3s ease-out both;
    transform-origin: 50% 0%;
    animation: flipBottom 0.3s 0.3s ease-out both;
  }
}
